.bgfon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1110px;
  height: 560px;
  background: rgb(216, 125, 74);
  border-radius: 8px;
  background-image: url(../image/chziqlar.svg);
  background-repeat: no-repeat;
}
.section3 {
  background-color: rgb(255, 255, 255);
  padding-bottom: 50px;
}
.zx9kaolonki {
  transition: 1s ease;
}
.zx9kaolonki:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}
