:root {
  --primary-color: #d87d4a;
  --primary-light-color: #fbaf85;
  --primary-black-color: #000000;
  --secondary-black-color: #101010;
  --gray-color: #f1f1f1;
  --slate-color: #fafafa;
  --white-color: #ffffff;
}
